@charset "UTF-8";
/* ==css 註解 ==*/
body {
  margin: 0;
  font-size: 15px;
  color: #383838;
  background-color: #3af73a;
}

body .wrapper {
  width: 1200px;
  height: auto;
  background-color: #fff;
  /*置中*/
  margin: 5px auto;
}

body h1 {
  font-size: 75px;
  margin: 10px auto 0px;
}

body h2 {
  font-size: 60px;
}

header {
  width: 100%;
  height: 120px;
  background-color: #20a6ff;
  /*置中*/
  margin: 5px auto;
}

nav ul li {
  width: 100px;
  display: inline-block;
  background-color: #ffc400;
}

.login {
  position: absolute;
  right: 10px;
  top: 10px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #0077c6;
  /*置中*/
  margin: 5px auto;
  position: fixed;
  bottom: 0;
}

.content {
  width: 100%;
  height: 800px;
}

.box_wide {
  background-color: #f42f2f;
  font-size: 50px;
  color: #333;
}

/*桌機*/
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 100%;
    min-width: 1200px;
  }
}

/*平板*/
@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    min-width: 1200px;
  }
}

/*手機*/
@media screen and (max-width: 596px) {
  .wrapper {
    width: 100%;
    min-width: 1200px;
  }
}

/*桌機*/
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 20px;
  }
}

/*平板*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

/*手機*/
@media screen and (max-width: 596px) {
  h1 {
    font-size: 20px;
  }
}

.btn-normal {
  width: 100px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-normal:hover {
  background-color: black;
  width: 200px;
  padding: 20px;
}

.btn-large {
  width: 130px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #00d9ff;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
  border: 1px solid #333;
}

.btn-large:hover {
  background-color: #008299;
  width: 260px;
  padding: 20px;
}

.btn-xs {
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #ddff00;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-xs:hover {
  background-color: #859900;
  width: 120px;
  padding: 20px;
}

#box {
  width: 600px;
  height: 600px;
  padding: 100px;
  background-color: #f2ff00;
}

.box_small {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.box_large {
  width: 600px;
  height: 400px;
  font-size: 30px;
  color: #333;
}

＿＿ .box-light {
  width: 400px;
  height: 400px;
  background-color: #f20;
  color: white;
}

＿＿ .box-light:hover {
  background-color: #e61f00;
  color: black;
}

.font {
  font-size: 30em;
  width: 120px;
  height: 100;
  font: 2px;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

.boxs {
  width: 50px;
}

.font_ipad {
  font-size: 35px;
  font-weight: 200;
}

.box-1 {
  width: 1px;
}

.box-2 {
  width: 2px;
}

.box-3 {
  width: 3px;
}

.box-4 {
  width: 4px;
}

.box-5 {
  width: 5px;
}

.box-6 {
  width: 6px;
}

.box-7 {
  width: 7px;
}

.box-8 {
  width: 8px;
}

.box-9 {
  width: 9px;
}

.box-10 {
  width: 10px;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  background-color: #f41212;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  background-color: #f41212;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  background-color: #f41212;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  background-color: #f41212;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  background-color: #f41212;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  background-color: #f41212;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  background-color: #f41212;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  background-color: #f41212;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  background-color: #f41212;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  background-color: #f41212;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  background-color: #f41212;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #f41212;
}

.slider .a1-img {
  background-image: url("./images/a1.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100%;
}

.slider .a2-img {
  background-image: url("./images/a2.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100%;
}

.slider .a3-img {
  background-image: url("./images/a3.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100%;
}

.b1-img {
  background-image: url("./images/b1.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}

.b2-img {
  background-image: url("./images/b2.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}

.b3-img {
  background-image: url("./images/b3.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}

.c1-img {
  background-image: url("./images/c1.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100vw;
}

.c2-img {
  background-image: url("./images/c2.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100vw;
}

.c3-img {
  background-image: url("./images/c3.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  background-size: cover;
  width: 100vw;
}

.s1-img {
  background-image: url("./images/s1.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}

.s2-img {
  background-image: url("./images/s2.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}

.box {
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
}

.page {
  display: "flex";
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 10px;
}

.btn-primary {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #924bc8;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-primary:hover {
  background-color: #5d2885;
  width: 240px;
  padding: 20px;
}

.btn-info {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: green;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-info:hover {
  background-color: #001a00;
  width: 240px;
  padding: 20px;
}

.btn-warning {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: yellow;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-warning:hover {
  background-color: #999900;
  width: 240px;
  padding: 20px;
}

.btn-error {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #f20;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-error:hover {
  background-color: #991400;
  width: 240px;
  padding: 20px;
}

.btn-secondary {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #bdb8b8;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-secondary:hover {
  background-color: #8c8383;
  width: 240px;
  padding: 20px;
}

.btn-light {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: gray;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-light:hover {
  background-color: #4d4d4d;
  width: 240px;
  padding: 20px;
}

.btn-dark {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #46285D;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: .2s all ease-in-out;
}

.btn-dark:hover {
  background-color: #100916;
  width: 240px;
  padding: 20px;
}

.text {
  color: #924bc8;
}

@media all and (min-width: 1920px) {
  h2 {
    font-size: 36px;
  }
}

@media all and (min-width: 360px) {
  h2 {
    font-size: 36px;
  }
}

.yellow, .box-large {
  background-color: yellow;
}

.box {
  color: #000;
}

.box {
  width: 300px;
  height: 100px;
}

.box-large {
  width: 300px;
  height: 400px;
}

.box-small {
  width: 100px;
  height: 100px;
}

.title-spec, h1.title {
  font-size: 30px;
  font-weight: 300;
}

.bb {
  background-image: url("./images/a1.jpg");
}

.car-img {
  background-image: url("./images/car.png");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
  width: 100%;
  height: auto;
}

.bus-img {
  background-image: url("./images/bus.gif");
  background-repeat: no-repeat;
  border-bottom: 1px solid #333;
}
/*# sourceMappingURL=style.css.map */