@import 'layout/nav';


body {
    font-size: 20px;
    color: rgb(148, 255, 72);
    background-color: rgb(187, 153, 255); 
    nav {
        ul {
            li{
                display: inline-block;
                margin: 0 10px ;
            }
        }
    }
 }
 
 .box {
     width: 100px;
     height: 100px;
     background-color: rgb(148, 198, 31);
 }