/* ==css 註解 ==*/
// scss 註解
//變數
@import 'base/var';


// function
@import 'mixins/mixin';
@import 'base/body';

//layout
@import 'layout/header';
@import 'layout/nav';
@import 'layout/login';
@import 'layout/footer';

//page 
@import 'page/index';




// 按鈕

@include btn('normal',  100px, #333 );

@include btn('large',  130px, #00d9ff){
      border: 1px solid #333;  
};

@include btn('xs',  60px, rgb(221, 255, 0));



// ===  區塊  ====

@include rectbox('#box', 600px){
    padding: 100px;
    background-color: #f2ff00;
}

@include rectbox('.box_small', 300px , 200px){
    display: flex;
    justify-content: center; 
};

@include rectbox('.box_large', 600px , 400px){
    @include font-large();  
};


//呼叫函式 @include name
