body {
background-color: rgb(128, 128, 128);
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: #fb0000;
   font-size: 20px;
   overflow-x: hidden;

}

.box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #00ffaa;
    color: #FFB630;
  }
 .btn {
    padding: 10px  20px;
 }
 .bezier {
    background-color: rgb(251, 21, 21);
 }
 section {
    width: 100vw;
    height: 100vh;
 }
 .gray {
    background-color: rgb(237, 237, 237);
 }
 /* #kp1 {
    position: relative;
    top : 300px
 } */
 

 h1 {
    padding: 0;
    margin: 0;
 }

/* .t1 {
  opacity: 0; 
}   */

  
