/* ==css 註解 ==*/
// scss 註解
@import 'base/var';


body {
    $var: 100px;
    margin: 0;
    #{$attr}: 10px; //屬性
    width: 1000px;
    font-size: $fontsize;
    color: $color;
    background-color: map-get($bg-color, 'green');
    background-image: url('#{$path}/a.jpg'); //路徑
}

h1 {
    font-size: $fontsize * 5;
    margin: $space;
}

h2 {
    font-size: $fontsize * 4;
}

#{$class} {
    margin: 10px auto;
}

// class


//css 寫法
// nav ul li {
//     width: 100px;
// }
//scss
.wrapper {
    nav {
        .nav_main {
            list-style: none;
            padding: 0;

            li {
                width: 100px;
                height: 30px;

                span {
                    font-size: 10px;
                }
            }
        }
    }
}

// @mixin

// function name(var){
//    // call 
// }

// 函式宣告 @mixin
@mixin center {
    /*置中*/
    margin: 5px auto;
}

@mixin font-large {
    font-size: 30px;
    color: #333;
}

@mixin font-small {
    font-size: 16px;
    color: #333;
}

//mixin 一個變數
@mixin fontsize($size) {
    font-size: $size;
    color: #333;
}

//mixin 二個變數
@mixin rect($w:1200px , $h:100vh , $bgc:#fff) {
    width : $w;
    height: $h; 
    background-color: $bgc; 
    @include center();
}
//   變數： 預設值 / null

//區塊 
@mixin rectbox($id , $w , $h:$w){
  #{$id}{
     width: $w ;
     height: $h;
     @content;
  }
}
//
@include rectbox('#box', 600px){
    padding: 100px;
    background-color: #f2ff00;
}
//
@include rectbox('.box_small', 300px , 200px){
    display: flex;
    justify-content: center; 
};

//
@include rectbox('.box_large', 600px , 400px){
    @include font-large();  
};

//btn 組件

@mixin btn($name , $w , $bgc ){
  .btn-#{$name}{
     width: $w;
     padding:10px;
     text-align: center;
     vertical-align: middle;
     color: #fff;
     background-color: $bgc;
     cursor: pointer;
     margin: 10px;
     border-radius: 5px;
     transition: .2s all ease-in-out;
     @content;
     &:hover{
       background-color: darken($bgc , 20%);
       width: $w * 2;
       padding: 20px;
     }
  } 
}


@include btn('normal',  100px, #333 );

@include btn('large',  130px, #00d9ff){
      border: 1px solid #333;  
};

@include btn('xs',  60px, rgb(221, 255, 0));














//呼叫函式 @include name
.content {
    padding: 100px;
    @include fontsize(15px);
    @include rect(1200px , null , #d3d3d3);
    .box {
        @include fontsize(33px);
    }
}

.box_wide {
    background-color: #f42f2f;
   
    @include fontsize(50px);
}

body {
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include fontsize(16px);
}