@import 'layout/header';

body {
  margin: 0;
  background-color: rgb(0, 187, 255);
  .wrapper{
      width: 100%;
      min-width: 1200px;
      display: flex;
      header {
        .logo {
           font-size: 100px;
           color: lawngreen;
        }
      }
      .item{
          justify-self: start;
      }
  }
}

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
