body {
    margin: 0;
    font-size: $fontsize;
    color: $color;
    background-color: map-get($bg-color, 'green');
    //background-image: url('#{$path}/a.jpg'); //路徑
    .wrapper {
        @include rect(1200px , auto , #fff);
    }
    h1 {
        font-size: $fontsize * 5;
        margin: $space;
    }
    
    h2 {
        font-size: $fontsize * 4;
    }
}
