//sass 數值型態
$fontsize : 15px; // 數值
$color : #383838; // 顏色
$space : 10px auto 0px; //list
$bg-color : (
    'blue' : #007bff,
    'yellow' : rgb(251, 255, 0),
    'green' : #3af73a
    ); //map

$null : null; // null
$path: './images';
$attr : 'padding';
// #{變數}  字串的轉換;
$class : '.middle';

// 顏色
$btn: #00d9ff;
$font_color: #333;


// 文字大小
$fontbasic: 16px;


// 斷點 breakpoint

$desktop: 1200px;
$laptop: 996px;
$ipad : 768px;
$mobile : 450px;


// space

$space-card : 30px;


// 斷點
$desktop : 1200px;
$tablet : 768px;
$mobile: 596px;

// 斷點 2
$breakpoint : (
  large-desktop: 1920px,
  desktop : 1200px,
  tablet : 996px,
  mobile: 720px,
  xs-mobile: 360px   
); // map


